<!DOCTYPE html>
<html>
  <head>
    <title>Sumple</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>Ruby On Railsレポート</header>
  	<div>
      <%= yield %>
    </div>
    <footer><br>presented by Hirarin</footer>

  </body>
</html>
